/* .container { */
/* More to come soon */
/* } */

.scoreBoard {
  position: absolute;
  right: 5px;
  top: 5px;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 200px;
  box-shadow: 0 0 10px rgba(161, 148, 148, 0.473);
}

.scoreBoardHeader {
  color: rgb(241, 235, 235);
  text-align: center;
  padding: 8px;
  font-style: italic;
  font-size: 1.2rem;
  box-shadow: 0 10px 0 rgba(161, 148, 148, 0.473);
}

.memberItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.memberItem:nth-of-type(odd) {
  background-color: #40885c;
}
.memberItem:nth-of-type(even) {
  background-color: #d3ddd7;
}

.memberItem:hover {
  font-weight: bold;
  color: #009879;
}
