.navBar {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #40885c;
}
.navBar a {
  padding: 10px;
  color: rgb(222, 233, 233);
  font-style: normal;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 0.8rem;
  text-decoration: none;
}

.navBar a:hover {
  color: rgb(97, 61, 70);
  text-decoration: underline;
}
