.main {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.welcomeMessage {
  font-size: small;
  font-weight: bolder;
  text-align: center;
  color: rgb(242, 247, 247);
}
